table .btn-sm {
    padding: .1rem .8rem;
}

.card.actions .card-body {
    border-top: 1px solid #eee;
}

.card.actions .card-header+.card-body {
   padding-top: 1.3rem;
}

.badge {
    border-radius: 50%;
    font-size: .6rem;
    width: 1.1rem;
    height: 1.1rem;
    line-height: 1.1rem;
    padding: 0;
    text-align: center;
}