{% extends 'base.html.twig' %}

{% block body %}
    <div class="pt-14 pb-14 page-content">
        <div class="container ">
            <div class="row">
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-header">
                            <h5>Kategorijos</h5>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li>Only Utilites that we have chang</li>
                                <li>Only Utilites that we have chang</li>
                                <li>Only Utilites that we have chang</li>
                                <li>Only Utilites that we have chang</li>
                                <li>Only Utilites that we have chang</li>
                                <li>Only Utilites that we have chang</li>
                            </ul>
                            <p>
                                Only Utilites that we have changed or added new are shown here. But all Bootstrap4 utilities will work with Simplify
                                Only Utilites that we have changed or added new are shown here. But all Bootstrap4 utilities will work with Simplify
                                Only Utilites that we have changed or added new are shown here. But all Bootstrap4 utilities will work with Simplify
                                Only Utilites that we have changed or added new are shown here. But all Bootstrap4 utilities will work with Simplify
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Utilities</h5>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Only Utilites that we have changed or added new are shown here. But all Bootstrap4 utilities will work with Simplify
                                    </p>
                                </div>
                            </div>
                        </div> <div class="col-lg-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Utilities</h5>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Only Utilites that we have changed or added new are shown here. But all Bootstrap4 utilities will work with Simplify
                                    </p>
                                </div>
                            </div>
                        </div> <div class="col-lg-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Utilities</h5>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Only Utilites that we have changed or added new are shown here. But all Bootstrap4 utilities will work with Simplify
                                    </p>
                                </div>
                            </div>
                        </div> <div class="col-lg-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Utilities</h5>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Only Utilites that we have changed or added new are shown here. But all Bootstrap4 utilities will work with Simplify
                                    </p>
                                </div>
                            </div>
                        </div> <div class="col-lg-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Utilities</h5>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Only Utilites that we have changed or added new are shown here. But all Bootstrap4 utilities will work with Simplify
                                    </p>
                                </div>
                            </div>
                        </div> <div class="col-lg-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Utilities</h5>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Only Utilites that we have changed or added new are shown here. But all Bootstrap4 utilities will work with Simplify
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-14 pb-14 border-bottom bg-white" id="features">
        <div class="container ">
            <div class="row">

                <div class="col-lg-6">
                    <h3 class="mb-4">
                        UI and Amin Development made Easy
                    </h3>
                    <h5 class="text-secondary mb-12">
                        With and lot of components and new Pages every Month,<br>
                        you can kickstart your development in minutes!
                    </h5>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="text-info text-xxl bg-white mb-3">
                                <i class="material-icons">multiline_chart</i>
                            </div>
                            <h4 class="font-weight-normal">Charts</h4>
                            <p class="text-secondary">
                                With 4 famous charting libraries to help you, you will never have a problem rendering relevant data graphically.
                            </p>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="text-info text-xxl bg-white mb-3">
                                <i class="material-icons">label_outline</i>
                            </div>
                            <h4 class="font-weight-normal">Components</h4>
                            <p class="text-secondary">
                                With customized bootstrap 4 components and a lot of utilites, kickstart your UI development in seconds
                            </p>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="text-info text-xxl bg-white mb-3">
                                <i class="material-icons">pages</i>
                            </div>
                            <h4 class="font-weight-normal">Pages</h4>
                            <p class="text-secondary">
                                From Login to User profile to Chat, a lot of readymade page templates help you on the way.
                            </p>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="text-info text-xxl bg-white mb-3">
                                <i class="material-icons">star_border</i>
                            </div>
                            <h4 class="font-weight-normal">Angular 5</h4>
                            <p class="text-secondary">
                                Use our angular-cli project to kickstart with Angular 5, the most famous front-end framework
                            </p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-6 d-flex justify-content-around align-items-center">
                    <div>
                        <div class="mock-image text-center mt-4">
                            <img src="../assets/img/charts.png" alt="" class="img-fluid" style="max-width:26rem; width: 100%">
                        </div>
                        <div class="pb-10 py-2 mt-6  text-center">
                            <a class="btn btn-primary mr-4" href="#">Angular 5</a>
                            <a class="btn btn-success mb-1" href="../dashboard/">HTML &amp; jQuery</a>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>



    <div class="pt-14 pb-14 border-bottom bg-white" id="features">
        <div class="container ">
            <div class="row">

                <div class="col-lg-6">
                    <h3 class="mb-4">
                        UI and Amin Development made Easy
                    </h3>
                    <h5 class="text-secondary mb-12">
                        With and lot of components and new Pages every Month,<br>
                        you can kickstart your development in minutes!
                    </h5>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="text-info text-xxl bg-white mb-3">
                                <i class="material-icons">multiline_chart</i>
                            </div>
                            <h4 class="font-weight-normal">Charts</h4>
                            <p class="text-secondary">
                                With 4 famous charting libraries to help you, you will never have a problem rendering relevant data graphically.
                            </p>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="text-info text-xxl bg-white mb-3">
                                <i class="material-icons">label_outline</i>
                            </div>
                            <h4 class="font-weight-normal">Components</h4>
                            <p class="text-secondary">
                                With customized bootstrap 4 components and a lot of utilites, kickstart your UI development in seconds
                            </p>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="text-info text-xxl bg-white mb-3">
                                <i class="material-icons">pages</i>
                            </div>
                            <h4 class="font-weight-normal">Pages</h4>
                            <p class="text-secondary">
                                From Login to User profile to Chat, a lot of readymade page templates help you on the way.
                            </p>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="text-info text-xxl bg-white mb-3">
                                <i class="material-icons">star_border</i>
                            </div>
                            <h4 class="font-weight-normal">Angular 5</h4>
                            <p class="text-secondary">
                                Use our angular-cli project to kickstart with Angular 5, the most famous front-end framework
                            </p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-6 d-flex justify-content-around align-items-center">
                    <div>
                        <div class="mock-image text-center mt-4">
                            <img src="../assets/img/charts.png" alt="" class="img-fluid" style="max-width:26rem; width: 100%">
                        </div>
                        <div class="pb-10 py-2 mt-6  text-center">
                            <a class="btn btn-primary mr-4" href="#">Angular 5</a>
                            <a class="btn btn-success mb-1" href="../dashboard/">HTML &amp; jQuery</a>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>

    <div class="py-14 pb-14 bg-light" id="project">
        <div class="text-center">
            <h3 style="">New Pages Every Month!</h3>
        </div>
        <div class="container mt-12">
            <div class="row ">
                <div class="col-12 col-lg-6">
                    <div class="px-8 text-center mt-0 mb-0">
                        <img src="../assets/img/maci.png" alt="" class="img-fluid" style="max-width:24rem; width: 100%;">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="px-4">
                        <h5 class="text-info">Featured</h5>
                        <h3>
                            Project Pages
                        </h3>
                        <p class="text-secondary">
                            A project page for your projects. Start your project management module quickly with our ever expanding project management section.
                        </p>
                        <p class="text-secondary">
                            Want to showcase a Pinned Priority task? Or maybe not?
                        </p>
                        <div class="py-2  ">
                            <a class="btn btn-primary no-shadow mr-4" href="#">Angular 5</a> <a class="btn btn-success mr-4" href="../projects/single.html">HTML &amp; jQuery</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="py-14 pb-10 bg-white" id="pages">
        <div class="text-center">
            <h3 style="">So many Pages!</h3>
        </div>
        <div class="container mt-12">
            <div class="row ">
                <div class="col-12 col-lg-4 px-8 py-8">
                    <div class="page-demo">
                        <div class="page-demo-image mb-8 text-center" style="position:relative">
                            <img src="../assets/img/dash.png" alt="" class="img-fluid border" style="max-width:24rem; width: 100%;">

                        </div>
                        <div class="page-demo-text text-center">
                            <h4>Dashboard</h4>
                            <p class="text-secondary">
                                Show charts and Important Cards on this Dashboard Page

                            </p>
                            <div class="py-2 text-center ">
                                <a class="btn btn-flat-primary mr-0" href="#">ANGULAR</a>
                                <a class="btn btn-flat-info mr-0" href="../dashboard/">HTML 5</a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-12 col-lg-4 px-8 py-8">
                    <div class="page-demo">
                        <div class="page-demo-image mb-8 text-center">
                            <img src="../assets/img/project.png" alt="" class="img-fluid border" style="max-width:24rem; width: 100%;">
                        </div>
                        <div class="page-demo-text text-center">
                            <h4>Project</h4>
                            <p class="text-secondary">
                                Use this Page for your project landing. Showcase priority tasks and subtasks.

                            </p>
                            <div class="py-2 text-center ">
                                <a class="btn btn-flat-primary mr-0" href="#">ANGULAR</a>
                                <a class="btn btn-flat-info mr-0" href="../projects/single.html">HTML 5</a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-12 col-lg-4 px-8 py-8">
                    <div class="page-demo">
                        <div class="page-demo-image mb-8 text-center">
                            <img src="../assets/img/chat.png" alt="" class="img-fluid border" style="max-width:24rem; width: 100%;">
                        </div>
                        <div class="page-demo-text text-center">
                            <h4>Chat</h4>
                            <p class="text-secondary">
                                Teamplate for easy User Friendly conversations Page

                            </p>
                            <div class="py-2 text-center ">
                                <a class="btn btn-flat-primary mr-0" href="#">ANGULAR</a>
                                <a class="btn btn-flat-info mr-0" href="../email/chat.html">HTML 5</a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-12 col-lg-4 px-8 py-8">
                    <div class="page-demo">
                        <div class="page-demo-image mb-8 text-center">
                            <img src="../assets/img/login.png" alt="" class="img-fluid border" style="max-width:24rem; width: 100%;">
                        </div>
                        <div class="page-demo-text text-center">
                            <h4>Login</h4>
                            <p class="text-secondary">
                                Simple and Elegant Login Card, Pair with a light or solid background, or an Image

                            </p>
                            <div class="py-2 text-center ">
                                <a class="btn btn-flat-primary mr-0" href="#">ANGULAR</a>
                                <a class="btn btn-flat-info mr-0" href="../front/login.html">HTML 5</a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-12 col-lg-4 px-8 py-8">
                    <div class="page-demo">
                        <div class="page-demo-image mb-8 text-center">
                            <img src="../assets/img/calendar.png" alt="" class="img-fluid border" style="max-width:24rem; width: 100%;">
                        </div>
                        <div class="page-demo-text text-center">
                            <h4>Calendar</h4>
                            <p class="text-secondary">
                                Showcase Important Events and Dates on this Calendar Page

                            </p>
                            <div class="py-2 text-center ">
                                <a class="btn btn-flat-primary mr-0" href="#">ANGULAR</a>
                                <a class="btn btn-flat-info mr-0" href="../calendar/fullcalendar.html">HTML 5</a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-12 col-lg-4 px-8 py-8">
                    <div class="page-demo">
                        <div class="page-demo-image mb-8 text-center">
                            <img src="../assets/img/profile.png" alt="" class="img-fluid border" style="max-width:24rem; width: 100%;">
                        </div>
                        <div class="page-demo-text text-center">
                            <h4>Profile</h4>
                            <p class="text-secondary">
                                Perfect for User Profile and Employee Page, showcase their latest Posts

                            </p>
                            <div class="py-2 text-center ">
                                <a class="btn btn-flat-primary mr-0" href="#">ANGULAR</a>
                                <a class="btn btn-flat-info mr-0" href="../user/profile.html">HTML 5</a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
